target/
build/
.gradle/
.idea/
out/
*.class

Hazy Package/

repo/

jdk22.zip
jdk22/
*.zip

# Backups en temp cache folders
hazy-swift/cache_backup_*/
hazy-swift/cache_pre_pack/
hazy-swift/cache/rebuild/

# Logs
SwiftPk-Server/data/logs/

# Player saves
SwiftPk-Server/data/saves/

# Claude repo duplicate
claude-XRSPS-repo/

# RSPSi cache (apart project)
rspsi-cache/
